.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.background {
  width: 90%;
  max-width: 810px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background: var(--col-primary);
  background-image: url("/assets/imgs/group-of-pets.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 10px;
}
.content {
  font-size: 22px;
  margin: 50px 55px 30px;
  line-height: 2;
}

button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background: white;
  color: var(--col-primary);
  border-radius: 8px;
  margin-left: 72%;
}