.container
{
  max-width: 1440px;
  width: 90%;
  margin: auto;

  @include pad
  {
    max-width: 820px;
    width: 85%;
  }

  @include mobile
  {
    max-width: 767px;
    width: 80%;
  }
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

// icon
.primary-icon
{
  color: var(--col-primary);
}