@use 'mixins' as *;

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  color: var(--col-primary);
  justify-items: center;
  row-gap: 16px;
  @include mobile {
  grid-template-columns: repeat(2, 1fr);
 }
}
