@use 'mixins' as *;

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pets-container
{
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  color: var(--col-primary);
  justify-items: center;
  row-gap: 16px;
  column-gap: 16px;

  @include mobile
  {
    max-width: 360px;
    grid-template-columns: repeat(2, 1fr);
  }
}