/* You can add global styles to this file, and also import other style files */
@import './app/styles/mixins';
@import './app/styles/base';

:root
{
  --col-primary: #7A6CBC;
  --col-secondary: #F6F6FF;
}

html,
body
{
  height: 100%;
}

body
{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--col-secondary);
}